@mixin button-size($padding-x, $padding-y, $font-size, $boder-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $boder-raduis;
}

@mixin button-style(
  $background-color,
  $border-color,
  $color,
  $hover-background-color: lighten($background-color, 7.5%),
  $hover-border-color: lighten($border-color, 10%),
  $hover-color: $color
) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  &:hover {
    color: $hover-color;
    background-color: $hover-background-color;
    border-color: $hover-border-color;
  }

  &:focus {
    color: $hover-color;
    background-color: $hover-background-color;
    border-color: $hover-border-color;
    box-shadow: 0 0 5px lighten($hover-border-color, 25%);
    outline: none;
  }

  &:disabled {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
  }
}
